{{define "content"}}

    {{template "page_header" .header }}
    {{template "alert" .alerts}}

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <h2>User Logout</h2>
                <p>To logout of your current session press the button below.</p>
                <a href=""></a>
            </div>
        </div>
    </div>

{{end}}

{{define "title"}}
    Login
{{end}}