@import 'foundationSettings';
@import '~foundation-sites/scss/util/util';
@import '~foundation-sites/scss/util/mixins';
@import '~foundation-sites/scss/components/dropdown-menu';
@import '~foundation-sites/scss/components/dropdown';
@import '~foundation-sites/scss/components/menu';
@import '~foundation-sites/scss/xy-grid/xy-grid';
@import '~foundation-sites/scss/components/callout';
@import './navbar';
@import "~motion-ui/motion-ui";
@import "icons";


#live_chat {
    min-height: 10em;
    background-color: darken($body-background, 10%);
    overflow-y:scroll;
}

.top-grid-container {
    @include xy-grid-container;

    &.fluid {
        @include xy-grid-container(100%);
    }

    &.full {
        @include xy-grid-container(100%, 0);
    }
    margin-top: 1em;
}
.admin_header_h1 {
    background-image: url('/dist/images/contours_12_1.png');
    color: white;
    font-weight: 700;
    text-align: right;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 0.1em 0.5em 0.1em 0.1em;
}

.gradient_bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+27,ff7c00+62,ff7f04+100 */
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 27%, #ff7c00 62%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 27%, #ff7c00 62%, #ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 27%, #ff7c00 62%, #ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

.font_light {
    //font-family: "Eras Light ITC", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font_med {
    //font-family: "Eras Medium ITC", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font_bold {
    //font-family: "Eras Bold ITC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.secondary_background {
    background-color: $dark-gray;
    color: $white;

    label {
        color: $white;
    }
}

.vertical_shadow {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.meta_color {
    color: #000000 !important;

    &:hover {
        color: #000000 !important;
    }
}

.header_box {
    .shaded {
        background-color: rgba(0, 0, 0, 0.5);
    }
    margin-bottom: 2rem;

    .header_content {
        background-color: rgba(0, 0, 0, 0.7);
        a, h1, span {
            color: $white;
        }

        h1 {
            font-weight: 700;
        }

        a {
            font-weight: 700;

            &:hover {
                color: $base_yellow;
                text-decoration: none;
            }
        }

        .breadcrumbs {
            .crumb_separator {
                padding-left: 5px;
                padding-right: 5px;
                color: $base_yellow;
            }
        }
    }
}

.icon_pad_right {
    padding-right: 6px;
}

.icon_lg {
    font-size: 3rem;
    text-align: right;
    color: get-color(primary);
}

.callout_trans {
    @include callout;
    background-color: transparent;
}

.more_pad {
    padding: 2rem;
}

.mail {
    color: darken($base_yellow, 10%);
    font-weight: 700;
    font-size: 75%;

    &:hover {
        color: $base_yellow;
    }
}


.info_block {
    font-size: 125%;
    padding: 1rem;
    margin-top: $callout-padding / 2;
    margin-bottom: $callout-padding;
}

.no-link-style {
    font-weight: 500 !important;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

#footer {
    background-color: $black;
    padding-top: 2rem;
    font-size: 80%;

    ul {
        list-style-type: none;
    }

    a, p, h4, li {
        color: $dark-gray;
        text-align: justify;
    }

    ul a {
        font-weight: 700;

        &:hover {
            color: get-color(secondary);
        }

    }

    .email {
        font-weight: 500;
    }

    .sub_links {
        font-weight: 500;
        padding-right: 1rem;
    }

    .copyright {
        margin-top: 1rem;
        text-align: center;
        color: darken($dark-gray, 5%);
    }

    i {
        padding-right: 6px;
        color: get-color(secondary);
    }
}

#map {
    height: 400px;
}

#header {
    padding: 1%;

    .info {
        font-weight: 700;

        h1 {
            font-size: 1.5rem;
            color: get-color(secondary);
        }

        a {
            color: get-color(secondary);
            font-size: 1rem;
        }
    }
}

#menu {
    background-color: $header-color;

    .link {
        color: #000000;

        &:hover {
            background-color: darken($header-color, 5%);
            color: #000000;
        }


    }

    a {
        @extend .font_med;
    }
}

.unpar_header {
    position: relative;
    top: 24px;
    color: get-color("warning");
}

.home_foot_box {
    background-color: $header_color;
    color: $black;
    margin-bottom: 0;
    padding-bottom: 30px;

    p {
        text-align: justify;
    }
}

.services_grid {
    p {
        text-align: justify;
    }
}

.readmore_block {
    margin-top: 2rem;
    color: $white;
    height: 24rem;
    text-align: center;

    .shader {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    .heading_size {
        font-size: 300%;
    }

    h3 {
        color: get-color("warning");
    }

    a {
        color: $white;
        font-weight: 700;
    }
}

.emergency {
    background-image: url("/dist/images/firefighter.png");
}

.environmental {
    background-image: url("/dist/images/Florida-Ground-Water.png");
}

.infrastructure {
    background-image: url("/dist/images/infrastructure.png");
}

.company_block {
    border-top: 25px solid $base_blue;

    &:hover {
        border-top: 25px solid $base_yellow;
    }

    h4 {
        margin-top: 1rem;
    }

    p {
        height: 100%;
    }
}

#header_gallery {
    img {
        max-height: 100%;
        max-width: 100%
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
}

.person_card {
    background-color: darken($body-background, 5%);
    h2 {
        background-color: darken($body-background, 15%);
        margin: 0;
        padding: 0.2em;
    }
    p {
        padding: 0.2em
    }
}